

 
<ion-content padding class="modal-page" text-center ion-fixed scroll="false"> 

    <div class="div-main" *ngIf="ParamsTXT == 'forgetpass'"> 
      <ion-row no-margin no-padding>     
        <ion-col no-margin no-padding col-12> 
          <p no-margin no-padding class="p-text">Your password has been reset successfully</p>  
          <p no-margin no-padding class="p-text">and sent to your email address.</p>
          <p no-margin no-padding class="p-text"></p>     
        </ion-col>
      </ion-row>  
      <ion-row no-margin no-padding class="outerrow">
        <ion-col col-6 no-margin no-padding>
        </ion-col>
        <ion-col col-6 text-right no-margin no-padding >     
            <button ion-button (click)="ok()" no-shadow no-border no-margin no-padding>OK</button>    
        </ion-col>
      </ion-row>  
    </div>
  
  

    <div class="div-main" *ngIf="ParamsTXT == 'createtask'">       
      <ion-row no-margin no-padding>   
        <ion-col no-margin no-padding col-12>     
          <p no-margin no-padding class="p-text1">Task has been created and assigned to your</p>  
          <p no-margin no-padding class="p-text1">consultant. He has been notified and he</p>
          <p no-margin no-padding class="p-text1">will respond to you very soon.</p>     
        </ion-col>
      </ion-row> 
      <ion-row no-margin no-padding class="outerrow">
        <ion-col col-6 no-margin no-padding>
        </ion-col>
        <ion-col col-6 text-right no-margin no-padding >     
            <button ion-button (click)="ok()" no-shadow no-border no-margin no-padding>OK</button>    
        </ion-col>
      </ion-row>
    </div>

  
  </ion-content>  
