<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<!--  
<ion-header no-shadow no-border>
  <ion-navbar > 
    <ion-title text-center>Login</ion-title> 
  </ion-navbar>
</ion-header> -->
     
<ion-content > 
<ion-grid class="gridcl">

    <ion-row no-margin no-padding  style="margin-top: 73px;"> 
        <ion-col col-12 no-margin no-padding >   
          <img src="assets/imgs/newimg/logo-connect.png" class="img-logo">   
        </ion-col>
      </ion-row>
       

  <ion-row no-margin no-padding class="toprows"> 
    <ion-col col-12 no-margin no-padding> 
      <p class="contenttittle" no-margin no-padding>Welcome to our support task system</p> 
    </ion-col>
  </ion-row>    
</ion-grid>


  <div class="contcolorWhite">  
      <ion-grid class="gridcl">

  <ion-row no-margin no-padding>       
    <ion-col col-12 no-margin no-padding text-center><p no-margin no-padding class="errmsgcl">{{ErrMsg}}</p></ion-col>
  </ion-row>

  <form [formGroup]="validation"> 

  <ion-list margin-top>
      <img class="img-user" src="assets/imgs/newimg/group540.png">     
    <ion-item>      
       <ion-input type="email" [(ngModel)]="EmailID" placeholder="Email ID" formControlName="EmailID"
       [class.invalid]="!validation.controls.EmailID.valid && (validation.controls.EmailID.dirty|| submitAttempt)"></ion-input>  
    </ion-item> 

    <p *ngIf="!validation.controls.EmailID.valid && (validation.controls.EmailID.dirty|| submitAttempt)" class="errormsg">*Please enter a valid email address.</p> 
 
    <img src="assets/imgs/newimg/group542.png"  class="img-pass"  [ngStyle]="{'margin-top': !validation.controls.EmailID.valid && (validation.controls.EmailID.dirty|| submitAttempt) ? '16px' : '29px'}">         
    <ion-item  class="item-pass" >     
       <ion-input type="password" [(ngModel)]="Password" placeholder="Password" formControlName="Password"
       [class.invalid]="!validation.controls.Password.valid && (validation.controls.Password.dirty|| submitAttempt)"></ion-input> 
    </ion-item>  
    <p *ngIf="!validation.controls.Password.valid && (validation.controls.Password.dirty|| submitAttempt)" class="errormsg">*Please enter a password.</p>    
  </ion-list>     
 
</form>

<ion-row no-margin no-padding margin-bottom>     
    <ion-col col-12 no-margin no-padding>  
       <button ion-button full (click)="GotoNext(EmailID,Password)" [disabled]="!validation.valid">LOGIN</button>
    </ion-col>
  </ion-row>

   </ion-grid>
</div>
  

<ion-grid class="gridcl">
  <ion-row class="row-mtop">
    <ion-col col-12 text-center no-margin no-padding> 
       <p no-margin no-padding >  
         <a class="a-forgetpass" (click)="ForgetNext()" no-padding no-margin>Forgot Password?</a>
        </p>  
    </ion-col>
  </ion-row>     
</ion-grid>  
       

      <div class="div-footer">  
          <ion-row no-padding no-margin class="div-footer-rows">    
          <ion-col col-12 text-center no-padding no-margin>     
            <p no-padding no-margin>Product of : <a class="a-tittle" (click)="GotoLoginworks()" no-padding no-margin> Loginworks Softwares Inc.</a></p>   
          </ion-col>
        </ion-row>
      </div>


</ion-content>
